*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro{
    justify-content: center;
    align-items: center;
    background-image: url(./banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    background-color: white;

    position: relative;
}

.color-overlay{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    position: absolute;
}
.intro .container {
    z-index: 1;
  
}
.intro button{
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    height: 50px;
}
.intro .con2 {
    transform: rotate(180deg);
    width: 40%;
    height: 100%;
}
.tool .container{
    text-align: center;
    width: 70%;
    
    
}
.tool .tool1 h3{
    color: #dd4f72;
  
}
.tool .tool1 h1{
  font-size: 50px;
  font-weight: 500;
}
.tool .tool1 p{
    font-size: 18px;
}
.tool .tool2{
width: 100%;
padding: 0;
height: 100%; 
}
.col h1{
    font-size: 25px;
    padding: 10px 0px;
    padding-top: 10%;
}
.col{
    height: inherit;
}
.about .container .row1 h3{
    color: #dd4f72;
}
.about .container .row{
    width: 50%;
    
}
.about .container .row1{
    width: 50%;
    
}