@import url(../css/style.css);

nav#breadcrumbs {
  padding: 15px 20px;
  background: var(--light-bg-color);
  margin-top: 90px;
  font-size: 14px;
}

.breadcrumbs a,
a:hover {
  text-decoration: none;
  color: var(--primary);
  margin: 0 5px 0 0;
  font-size: 14px;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}
